* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.popup1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 7;
	display: none;
}

.pop_open1 {
	position: absolute;
  left: 64px;
  top: 39px;
  width: 891px;
  height: 399px;
	z-index: 5;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}