* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.logo1 {
  position: absolute;
  left: 706px;
  top: 414px;
  width: 276px;
  height: 72px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.logo2 {
  position: absolute;
  left: 706px;
  top: 513px;
  width: 284px;
  height: 24px;
  animation: fadeInRight 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 3;
}

.logo3 {
  position: absolute;
  left: 706px;
  top: 564px;
  width: 225px;
  height: 23px;
  animation: fadeInRight 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 4;
}