* {
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2_2 {
  position: absolute;
  left: 389px;
  top: 403px;
  width: 243px;
  height: 251px;
  animation: fadeIn 2s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_3 {
  position: absolute;
  left: 693px;
  top: 504px;
  width: 308px;
  height: 75px;
  animation: zoomIn 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2;
}