*{
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.wrap {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	animation: fadeOut 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_2 {
	position: absolute;
  left: 197px;
  top: 241px;
  width: 592px;
  height: 272px;
	animation: revealHorizontalRev 1s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 271px;
  top: 244px;
  width: 21px;
  height: 269px;
	animation: riseUp 0.5s 1;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 202px;
  top: 627px;
  width: 620px;
  height: 63px;
	animation: flipInX 0.5s;
	animation-delay: 3.2s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes revealHorizontalRev {
  0% {
    clip: rect(0px,600px,300px,600px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,300px,0px);
	opacity: 1;
  }
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@keyframes riseUp {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, 100%, 0);
  }
  
  30% {
    opacity: 1;
    transform: scale(0.5) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}