*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 224px;
  top: 72px;
  width: 644px;
  height: 154px;
	animation: fadeInDown 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 3;
}

.s3 {
	position: absolute;
  left: 219px;
  top: 263px;
  width: 653px;
  height: 181px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s4 {
	position: absolute;
  left: 375px;
  top: 269px;
  width: 486px;
  height: 111px;
	animation: flashLongOff 2s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 74px;
  top: 405px;
  width: 1006px;
  height: 405px;
	animation: none 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}


@keyframes flashLongOn {
  0%, 10%, 40%, 60%, 90%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes flashLongOff {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}