*{
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 609px;
  top: 103px;
  width: 232px;
  height: 61px;
	animation: flipInX 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 377px;
  top: 408px;
  width: 270px;
  height: 87px;
	animation: zoomIn 0.7s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	z-index: 7;
}

.s1_4 {
	position: absolute;
  left: 788px;
  top: 305px;
  width: 155px;
  height: 162px;
	animation: stampIn 0.2s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 5;
}


@-webkit-keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes revealHorizontalRev {
  0% {
    clip: rect(0px,600px,300px,600px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,300px,0px);
	opacity: 1;
  }
}


@keyframes slideLeft {
  0% {
  opacity: 1;
  left: 631px;
  top: 344px;
  width: 43px;
  height: 91px;
  }

  100% {
  opacity: 1;
  left: 851px;
  top: 344px;
  width: 43px;
  height: 91px;
  }
}


@keyframes riseUp {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, 100%, 0);
  }
  
  30% {
    opacity: 1;
    transform: scale(0.5) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}