* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.popit {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 7;
	display: none;
}

.pop_open1 {
	position: absolute;
  left: 426px;
  top: 249px;
  width: 521px;
  height: 98px;
	z-index: 5;
}

.pop_open2 {
	position: absolute;
  left: 425px;
  top: 347px;
  width: 524px;
  height: 98px;
	z-index: 5;
}

.pop_open3 {
	position: absolute;
  left: 425px;
  top: 445px;
  width: 524px;
  height: 98px;
	z-index: 5;
}

.pop_open4 {
	position: absolute;
  left: 425px;
  top: 545px;
  width: 524px;
  height: 126px;
	z-index: 5;
}

.pop_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}