* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_1, .s2_2, .s2_3, .s2_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.s2_pop1 {
	position: absolute;
  left: 20px;
  top: 350px;
  width: 458px;
  height: 149px;
	z-index: 10;
}

.s2_pop2 {
	position: absolute;
  left: 20px;
  top: 517px;
  width: 458px;
  height: 149px;
	z-index: 10;
}

.s2_pop3 {
	position: absolute;
  left: 546px;
  top: 350px;
  width: 458px;
  height: 149px;
	z-index: 10;
}

.s2_pop4 {
	position: absolute;
  left: 546px;
  top: 517px;
  width: 458px;
  height: 149px;
	z-index: 10;
}

.s2_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}