*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 59px;
  top: 68px;
  width: 962px;
  height: 134px;
	animation: fadeInDown 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 3;
}

.s3 {
	position: absolute;
  left: 122px;
  top: 277px;
  width: 601px;
  height: 432px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s4 {
	position: absolute;
  left: 157px;
  top: 366px;
  width: 498px;
  height: 273px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4-1 {
	position: absolute;
  left: 157px;
  top: 366px;
  width: 498px;
  height: 273px;
	animation: flashLongOff 2s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 7;
}

.s5 {
	position: absolute;
  left: 737px;
  top: 227px;
  width: 222px;
  height: 525px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}


@keyframes flashLongOn {
  0%, 10%, 40%, 60%, 90%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes flashLongOff {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}