*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 830px;
  top: 39px;
  width: 203px;
  height: 203px;
	animation: none 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}