*{
	margin: 0px;
	padding: 0px;
}

.button1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 20;
}

.button2 {
	position: absolute;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 20;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 234px;
  top: 34px;
  width: 630px;
  height: 99px;
  	animation: slideInUp 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
    position: absolute;
  left: 229px;
  top: 177px;
  width: 279px;
  height: 69px;
  display: none;
  	animation: flash 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 49px;
  top: 300px;
  width: 252px;
  height: 198px;
  display: none;
  	animation: fadeInUp 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 294px;
  top: 310px;
  width: 252px;
  height: 189px;
  display: none;
  	animation: fadeInDown 0.5s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 539px;
  top: 299px;
  width: 251px;
  height: 199px;
  display: none;
  	animation: fadeInUp 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 824px;
  top: 209px;
  width: 209px;
  height: 323px;
  display: none;
  	animation: bounceIn 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 308px;
  top: 560px;
  width: 480px;
  height: 85px;
  display: none;
  	animation: zoomIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 91px;
  top: 674px;
  width: 913px;
  height: 57px;
  display: none;
  	animation: fadeInUp 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}