*{
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: "RobotoAlert";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.submit {
  position: absolute;
  left: 390px;
  top: 664px;
  width: 300px;
  height: 113px;
  z-index: 20;
}

@font-face {
	font-family: "ArialAlert";
    src: url("../fonts/arial-bold-italic.ttf") format("truetype");
}

#dataAlert {
    position: absolute;
    left: 0px;
	top: 410px;
    width: 1080px;
    height: 40px;
    color: red;
	font-family: "ArialAlert";
	font-size: 1.5em;
    font-weight: 700;
	text-align: center;
	z-index: 10;
}

#dd {
    position: absolute;
	left: 382px;
	top: 482px;
	width: 85px;
	height: 81px;
    color: #6e6e6e;
	background: transparent;
	font-family: "RobotoAlert";
	font-size: 60px;
    font-weight: bold;
	text-align: center;
	overflow: visible;
	border: none;
	outline: none;
	z-index: 10;
}

#mm {
    position: absolute;
	left: 500px;
	top: 482px;
	width: 85px;
	height: 81px;
    color: #6e6e6e;
	background: transparent;
	font-family: "RobotoAlert";
	font-size: 60px;
    font-weight: bold;
	text-align: center;
	overflow: visible;
	border: none;
	outline: none;
	z-index: 10;
}

#yy {
    position: absolute;
	left: 618px;
	top: 482px;
	width: 85px;
	height: 81px;
    color: #6e6e6e;
	background: transparent;
	font-family: "RobotoAlert";
	font-size: 60px;
    font-weight: bold;
	text-align: center;
	overflow: visible;
	border: none;
	outline: none;
	z-index: 10;
}