* {
	margin: 0px;
	padding: 0px;
}

.background, .s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.hand {
  position: absolute;
  left: 248px;
  top: 488px;
  width: 52px;
  height: 67px;
  	animation: scratchIt 1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  z-index: 15;
}

.blocker {
	position: absolute;
	left: 0px;
    top: 0px;
	width: 1080px;
	height: 810px;
	z-index: 5;
}
    
.canvas-wrapper {
    position: absolute;
  left: 199px;
  top: 411px;
  width: 699px;
  height: 195px;
	z-index: 10;
}
    
canvas {
    position: absolute;
  left: 0px;
  top: 0px;
  width: 699px;
  height: 195px;
    touch-action: none;
	z-index: 10;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  15%, 50%, 95% {
    opacity: 1;
  }
}

@keyframes scratchIt {
  0% {
  left: 239px;
  top: 538px;
  width: 52px;
  height: 67px;
  opacity: 1;
  }
  50% {
  left: 523px;
  top: 579px;
  width: 52px;
  height: 67px;
  opacity: 1;
  }
  100% {
  left: 805px;
  top: 538px;
  width: 52px;
  height: 67px;
  opacity: 1;
  }
}