* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2_wrap {
  position: absolute;
  left: 50px;
  top: 67px;
  width: 318px;
  height: 182px;
  animation: fadeOutLeft 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_2 {
  position: absolute;
  left: 50px;
  top: 67px;
  width: 318px;
  height: 182px;
  display: none;
  z-index: 2;
}

.s1_2_temp {
  animation: fadeInLeft 1.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_3 {
  position: absolute;
  left: 50px;
  top: 68px;
  width: 344px;
  height: 167px;
  animation: fadeInLeft 1.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 2;
}

.s1_4_wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 545px;
  height: 71px;
  animation: flipOutX 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_4 {
  position: absolute;
  left: 331px;
  top: 581px;
  width: 545px;
  height: 71px;
  display: none;
  z-index: 2;
}

.s1_4_temp {
  animation: flipInX 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_5 {
  position: absolute;
  left: 282px;
  top: 581px;
  width: 644px;
  height: 72px;
  animation: flipInX 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 2;
}

.animate1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 50;
  display: none;
}