* {
  margin: 0px;
  padding: 0px;
}

[class^="s"] img {
  width: 100%;
}

[class^="hit"] img {
  width: 100%;
}

.s1,
.s1 img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
  z-index: 1;
}

.s2 {
	position: absolute;
  left: 305px;
  top: 381px;
  width: 162px;
  height: 148px;
	z-index: 95;
}

.s3 {
	position: absolute;
  left: 708px;
  top: 628px;
  width: 162px;
  height: 148px;
	z-index: 95;
}

.flash {
	animation: flashLongOff 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.unlock {
	animation: unlock 1s ease-in;
	animation-delay: 0s;
	animation-fill-mode: both;
}

/* ---------------- Custom keyframes ---------------- */

@keyframes flashLongOff {
  0% {
    opacity: 0;
  }
  
  3%,
  10%,
  40%,
  60%,
  90%,
  97%  {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes unlock {
  0% {
  left: 305px;
  top: 381px;
  width: 162px;
  height: 148px;
  }

  100% {
  left: 708px;
  top: 628px;
  width: 162px;
  height: 148px;
  }
}