* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s6_5 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}


.s6_pop1 {
	position: absolute;
	height: 120px;
	width: 220px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.s6_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}