*{
	margin: 0px;
	padding: 0px;
}

.s8_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s8_2 {
	position: absolute;
  left: 311px;
  top: 165px;
  width: 401px;
  height: 397px;
	animation: zoomIn 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 4;
}

.s8_3 {
	position: absolute;
  left: 390px;
  top: 181px;
  width: 234px;
  height: 346px;
	z-index: 4;
}  

.s8_4 {
	position: absolute;
  left: 389px;
  top: 183px;
  width: 235px;
  height: 344px;
	animation: fadeIn 1.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 6;
}

.s8_5 {
	position: absolute;
  left: 646px;
  top: 488px;
  width: 311px;
  height: 602px;
	animation: slideInUp 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s8_6 {
	position: absolute;
  left: 725px;
  top: 282px;
  width: 303px;
  height: 216px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s8_7 {
	position: absolute;
  left: 82px;
  top: 366px;
  width: 883px;
  height: 140px;
	animation: fadeInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s8_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s8_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s8_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s8_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}